{% extends 'base.html.twig' %}

{% block title %}Recapitulatif{% endblock %}

{% block nav %}
    {% include 'nav.html.twig' %}
{% endblock %} 

{% block body %}
    <h1>Récapitulatif du devis</h1>
    <table>
        <tr>
            <th>Désignation</th>
            <th>Quantité</th>
            <th>Prix</th>
        </tr>
        
        {% if siteEcom is not empty %}
        <tr>
            <td>Site Ecommerce</td>
            <td>1</td>
            <td>{{ prixSiteEcom }} €</td>
        </tr>
        {% endif %}

        {% if siret is not empty %}
        <tr>
            <td>Site Vitrine</td>
            <td>1</td>
            <td>{{ prixVitrine }} €</td>
        </tr>
        {% endif %}

        {% if siteCustom is not empty %}
        <tr>
            <td>Site Custom</td>
            <td>1</td>
            <td>{{ prixCustom }} €</td>
        </tr>
        {% endif %}

        {% if maintenance is not empty %}
        <tr>
            <td>Maintenance & Sécurisation</td>
            <td>1</td>
            <td>{{ prixMaintenance }} €</td>
        </tr>
        {% endif %} 

        {% if logo is not empty %}
        <tr>
            <td>Création de logo</td>
            <td>1</td>
            <td>{{ prixLogo }} €</td>
        </tr>
        {% endif %}

        {% if identiteVisuelle is not empty %}
        <tr>
            <td>Identité Visuelle</td>
            <td>1</td>
            <td>{{ prixIdVisuelle }} €</td>
        </tr>
        {% endif %}

        {% if print is not empty %}
        <tr>
            <td>Flyer - 4/3 - Affiches</td>
            <td>1</td>
            <td>{{ prixPrint }} €</td>
        </tr>
        {% endif %}

        {% if shooting is not empty %}
        <tr>
            <td>Shooting photo</td>
            <td>1</td>
            <td>{{ prixShooting }} €</td>
        </tr>
        {% endif %}
    </table>
    <p> {{ prixTotal }} €</p>
{% endblock %}
