<nav>
        
            <a href="{{path('accueil')}}">Accueil</a>
            <a href="{{path('legal')}}">Formulaire CGV et Mention Légale</a>
            <a href="{{path('interaction')}}">Consultation CGV et Mention Légale</a>
            <a href="{{path('devis')}}">Formulaire de Création de devis</a>
            <a href="{{ path('interactionDevis')}}">Consultation de devis</a>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
            <div id="indicator"></div>
        
    </nav>